@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 4% 26%;
    --border: 0 0% 80%;

    --bold: 240 4% 13%;
    --heading: 240 4% 16%;

    --primary: 209 100% 50%;

    --yellow: 45 93% 47%;

    /* both passed WCAG AA contrast test at minimum */
    --muted-small-text: 240 4% 46%;
    --muted-large-text: 0 0% 58%;

    --codeblock-background: 240 4% 96%;
    --codeblock-title: 240 6% 92%;
    --codeblock-highlight: 240 4% 90%;
    --codeblock-border: 240 4% 84%;
  }
  .dark {
    --background: 0 0% 8%;
    --foreground: 0 0% 85%;
    --border: 0 0% 17%;

    --bold: 0 0% 95%;
    --heading: 0 0% 90%;

    --primary: 209 100% 50%;

    --yellow: 28 73% 30%;

    --muted-small-text: 0 0% 50%;
    --muted-large-text: 0 0% 39%;

    --codeblock-background: 0 0% 10%;
    --codeblock-title: 0 0% 12%;
    --codeblock-highlight: 0 0% 15%;
    --codeblock-border: 0 0% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-background font-sans text-foreground antialiased selection:bg-blue-500 selection:text-neutral-50 dark:selection:bg-blue-700;
  }
  em {
    @apply font-italic text-[109%];
  }
}

@layer components {
  .container-md {
    @apply mx-auto max-w-screen-md px-3 sm:px-5;
  }
  .container-lg {
    @apply mx-auto max-w-screen-lg px-3 sm:px-5;
  }
}
