/* code block */

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
}

html.dark code[data-theme*=" "],
html.dark code[data-theme*=" "] span {
  color: var(--shiki-dark);
}

[data-rehype-pretty-code-title][data-theme="light"],
pre[data-theme="light"],
code[data-theme="light"] {
  @apply dark:hidden;
}

[data-rehype-pretty-code-title][data-theme="dark"],
pre[data-theme="dark"] {
  @apply hidden dark:block;
}

code[data-theme="dark"] {
  @apply hidden dark:grid;
}

[data-rehype-pretty-code-figure] {
  @apply my-4 overflow-hidden rounded-lg border border-[hsl(var(--codeblock-border))] bg-[hsl(var(--codeblock-background))] text-sm leading-6 text-[hsl(var(--foreground))] [h2+&]:mt-0 [h3+&]:mt-0;

  --codeblock-padding: 1.25rem;
  --line-numbering-width: 3rem;
}

[data-rehype-pretty-code-title] {
  @apply bg-[hsl(var(--codeblock-title))] py-0.5 pl-[var(--codeblock-padding)] font-mono font-medium text-muted;
}

[data-rehype-pretty-code-figure] > pre {
  @apply overflow-x-auto py-[var(--codeblock-padding)];
}

pre > code {
  @apply grid [counter-reset:line];
}

[data-line-numbers] > [data-line]::before {
  @apply inline-block w-[var(--line-numbering-width)] text-center text-muted [content:counter(line)] [counter-increment:line];
}

[data-line-numbers] > [data-line] {
  @apply !pl-0;
}

[data-line] {
  @apply after:inline-block after:h-[1px] after:content-[''];
  @apply pl-[var(--codeblock-padding)] after:w-[var(--codeblock-padding)];
}

[data-highlighted-line] {
  @apply border-l-2 border-primary bg-[hsl(var(--codeblock-highlight))];

  /* fix border shifting content */
  @apply pl-[calc(var(--codeblock-padding)-2px)];
}

[data-line][data-highlighted-line]::before {
  @apply w-[calc(var(--line-numbering-width)-2px)];
}

[data-highlighted-chars] {
  @apply bg-primary px-[5px] py-[2px] font-semibold !text-white opacity-80;
}

/* remark-gfm */

.contains-task-list {
  @apply list-none pl-0;
}

.task-list-item [type="checkbox"] {
  @apply my-0;
}
