@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  em {
    @apply font-italic text-[118%];
  }

  :root {
    --background: theme(colors.white);
    --foreground: theme(colors.zinc.700);

    --bold: theme(colors.zinc.800);
    --heading: theme(colors.zinc.800);

    --primary: hsl(209 100% 50%);

    /* both passed WCAG AA contrast test at minimum */
    --muted-small-text: theme(colors.zinc.500);
    --muted-large-text: hsl(0 0% 58%);

    --codeblock-background: theme(colors.zinc.100);
    --codeblock-title: hsl(240 6% 92%);
    --codeblock-highlight: theme(colors.zinc.200);
    --codeblock-border: theme(colors.zinc.300);

    --border: hsl(0 0% 80%);
  }
  .dark {
    --background: hsl(0 0% 8%);
    --foreground: hsl(0 0% 85%);

    --bold: hsl(0 0% 95%);
    --heading: hsl(0 0% 90%);

    --primary: hsl(209 100% 50%);

    --muted-small-text: hsl(0, 0%, 50%);
    --muted-large-text: hsl(0, 0%, 39%);

    --codeblock-background: hsl(0 0% 10%);
    --codeblock-title: hsl(0 0% 12%);
    --codeblock-highlight: hsl(0 0% 15%);
    --codeblock-border: hsl(0 0% 20%);

    --border: hsl(0 0% 17%);
  }
}

@layer components {
  .container-main {
    @apply mx-auto max-w-screen-md px-3 duration-75 animate-in fade-in-60 sm:px-5;
  }
}

/* #region CODE BLOCK */

[data-rehype-pretty-code-title][data-theme="light"],
pre[data-theme="light"],
code[data-theme="light"] {
  @apply dark:hidden;
}

[data-rehype-pretty-code-title][data-theme="dark"],
pre[data-theme="dark"] {
  @apply hidden dark:block;
}

code[data-theme="dark"] {
  @apply hidden dark:grid;
}

[data-rehype-pretty-code-fragment] {
  @apply my-7 overflow-hidden rounded-lg border border-[var(--codeblock-border)] bg-[var(--codeblock-background)] text-sm leading-6 text-[var(--foreground)];

  --codeblock-padding: 1.25rem;
  --line-numbering-width: 3rem;
}

[data-rehype-pretty-code-title] {
  @apply bg-[var(--codeblock-title)] py-0.5 pl-[var(--codeblock-padding)] font-mono font-medium text-muted;
}

[data-rehype-pretty-code-fragment] > pre {
  @apply overflow-x-auto py-[var(--codeblock-padding)];
}

pre > code {
  @apply grid [counter-reset:line];
}

[data-line-numbers] > [data-line]::before {
  @apply inline-block w-[var(--line-numbering-width)] text-center text-muted [content:counter(line)] [counter-increment:line];
}

[data-line-numbers] > [data-line] {
  @apply !pl-0;
}

[data-line] {
  @apply after:inline-block after:h-[1px] after:content-[''];
  @apply pl-[var(--codeblock-padding)] after:w-[var(--codeblock-padding)];
}

[data-highlighted-line] {
  @apply border-l-2 border-primary bg-[var(--codeblock-highlight)];
}

/* fix border shifting content */
[data-highlighted-line] {
  @apply pl-[calc(var(--codeblock-padding)-2px)];
}

[data-line][data-highlighted-line]::before {
  @apply w-[calc(var(--line-numbering-width)-2px)];
}

[data-highlighted-chars] {
  @apply bg-primary px-[5px] py-[2px] font-semibold !text-white opacity-80;
}

/* #endregion */

/* rehype-autolink-headings */

.anchor {
  @apply -ml-[1em] pl-[1em] before:absolute before:-ml-[1em] before:font-sans before:text-white/0 before:content-['#'] hover:before:text-muted-darker;

  /* discard prose-a styles */
  @apply font-inherit text-inherit no-underline;
}

/* remark-gfm */

.contains-task-list {
  @apply list-none pl-0;
}

.task-list-item [type="checkbox"] {
  @apply my-0;
}
