@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-background font-sans text-foreground antialiased selection:bg-blue-500 selection:text-neutral-50 dark:selection:bg-blue-700;
  }
  em {
    @apply font-italic text-[109%];
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 240 4% 26%;
    --border: 0 0% 80%;

    --bold: 240 4% 13%;
    --heading: 240 4% 16%;

    --primary: 209 100% 50%;

    --yellow: 45 93% 47%;

    /* both passed WCAG AA contrast test at minimum */
    --muted-small-text: 240 4% 46%;
    --muted-large-text: 0 0% 58%;

    --codeblock-background: 240 4% 96%;
    --codeblock-title: 240 6% 92%;
    --codeblock-highlight: 240 4% 90%;
    --codeblock-border: 240 4% 84%;
  }
  .dark {
    --background: 0 0% 8%;
    --foreground: 0 0% 85%;
    --border: 0 0% 17%;

    --bold: 0 0% 95%;
    --heading: 0 0% 90%;

    --primary: 209 100% 50%;

    --yellow: 28 73% 30%;

    --muted-small-text: 0 0% 50%;
    --muted-large-text: 0 0% 39%;

    --codeblock-background: 0 0% 10%;
    --codeblock-title: 0 0% 12%;
    --codeblock-highlight: 0 0% 15%;
    --codeblock-border: 0 0% 20%;
  }
}

@layer components {
  .container-md {
    @apply mx-auto max-w-screen-md px-3 sm:px-5;
  }
  .container-lg {
    @apply mx-auto max-w-screen-lg px-3 sm:px-5;
  }
}

/* #region CODE BLOCK */

[data-rehype-pretty-code-title][data-theme="light"],
pre[data-theme="light"],
code[data-theme="light"] {
  @apply dark:hidden;
}

[data-rehype-pretty-code-title][data-theme="dark"],
pre[data-theme="dark"] {
  @apply hidden dark:block;
}

code[data-theme="dark"] {
  @apply hidden dark:grid;
}

[data-rehype-pretty-code-fragment] {
  @apply my-4 overflow-hidden rounded-lg border border-[hsl(var(--codeblock-border))] bg-[hsl(var(--codeblock-background))] text-sm leading-6 text-[hsl(var(--foreground))] [h2+&]:mt-0 [h3+&]:mt-0;

  --codeblock-padding: 1.25rem;
  --line-numbering-width: 3rem;
}

[data-rehype-pretty-code-title] {
  @apply bg-[hsl(var(--codeblock-title))] py-0.5 pl-[var(--codeblock-padding)] font-mono font-medium text-muted;
}

[data-rehype-pretty-code-fragment] > pre {
  @apply overflow-x-auto py-[var(--codeblock-padding)];
}

pre > code {
  @apply grid [counter-reset:line];
}

[data-line-numbers] > [data-line]::before {
  @apply inline-block w-[var(--line-numbering-width)] text-center text-muted [content:counter(line)] [counter-increment:line];
}

[data-line-numbers] > [data-line] {
  @apply !pl-0;
}

[data-line] {
  @apply after:inline-block after:h-[1px] after:content-[''];
  @apply pl-[var(--codeblock-padding)] after:w-[var(--codeblock-padding)];
}

[data-highlighted-line] {
  @apply border-l-2 border-primary bg-[hsl(var(--codeblock-highlight))];
}

/* fix border shifting content */
[data-highlighted-line] {
  @apply pl-[calc(var(--codeblock-padding)-2px)];
}

[data-line][data-highlighted-line]::before {
  @apply w-[calc(var(--line-numbering-width)-2px)];
}

[data-highlighted-chars] {
  @apply bg-primary px-[5px] py-[2px] font-semibold !text-white opacity-80;
}

/* #endregion */

/* remark-gfm */

.contains-task-list {
  @apply list-none pl-0;
}

.task-list-item [type="checkbox"] {
  @apply my-0;
}
